[Unit]
Description=Give'rCom
Requires=local-fs.target
After=network.target
Wants=network-online.target
#Wants=nginx.service
StartLimitBurst=3
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/var/www/node/givercom/server/js/givercom.js
WorkingDirectory=/var/www/node/givercom
User=givercom
Group=givercom
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Restart=always
RestartSec=5

[Install]
WantedBy=network.target
