


.button-xxxlarge {
   width:               3em;
   height:              3em;
}

.button-xxlarge {
   width:               2.75em;
   height:              2.75em;
}

.button-xlarge {
   width:               2.5em;
   height:              2.5em;
}

.button-large {
   width:               2em;
   height:              2em;
}

.button-medium {
   width:               1.75em;
   height:              1.75em;
}

.button-small {
   width:               1.5em;
   height:              1.5em;
}

.button-xsmall {
   width:               1.25em;
   height:              1.25em;
}

.button-xxsmall {
   width:               1em;
   height:              1em;
}

.button-xxxsmall {
   width:               0.75em;
   height:              0.75em;
}

.button-xxxxsmall {
   width:               0.5em;
   height:              0.5em;
}



