


@mixin appearance($style) {
   appearance:         $style;
   -moz-appearance:    $style;
   -webkit-appearance: $style;
}

:-moz-placeholder           { color: #808080; font-style: italic; font-size: 75%; line-height: 1.5em; } /* Firefox 18- */
::-moz-placeholder          { color: #808080; font-style: italic; font-size: 75%; line-height: 1.5em; } /* Firefox 19+ */
::-webkit-input-placeholder { color: #808080; font-style: italic; font-size: 75%; line-height: 1.6em; } /* Chrome/Safari/Opera */
:-ms-input-placeholder      { color: #808080; font-style: italic; font-size: 75%; line-height: 1.5em; } /* IE */
::-ms-input-placeholder     { color: #808080; font-style: italic; font-size: 75%; line-height: 1.5em; } /* Edge */

input,
textarea,
button,
select {
   @include appearance(none);
   box-sizing:       border-box;
//   max-width:        100%;
//   height:           1.85em;
   padding:          $pad-border $pad-medium;
   border:           $control-border-size solid $control-border-color;
   background-color: $control-bg-color;
   font:             inherit;
   color:            inherit;
}

button,
input[type="submit"],
input[type="button"],
input[type="color"] {
   cursor:           pointer;
}

button.min-width,
input[type="submit"].min-width,
input[type="button"].min-width {
   min-width:        5em;
}

input[type="checkbox"] {
   cursor:           pointer;
   display:          inline-block;
   position:         relative;
   width:            1.25em;
   height:           1.25em;
   padding:          .1em;
   background-color: $control-bg-color;
   vertical-align:   bottom;
   overflow:         hidden;
}

input[type="checkbox"]:checked {
   background:       $control-bg-color url("../img/icons/Antu_games-endturn-giver2.svg") center center / 100% no-repeat;
}

input[type="color"] {
   padding:          0;
}

input:disabled,
textarea:disabled,
button:disabled,
select:disabled {
   cursor:           default;
   color:            $disabled-text-color;
}

textarea {
   resize:           none;
}

select {
   @include appearance(none);
   padding-right:   1.3em;
   background:      $control-bg-color url("../img/controls/MediaWiki_Vector_skin_action_arrow.svg") right center no-repeat;
   background-size: 1.3em;
}



