


/*************/
/*** DEBUG ***/
/*************/

.debug {
   border: 1px solid red !important;
}

.debug-yellow {
   border: 1px solid yellow !important;
}

.debug-green {
   border: 1px solid green !important;
}



