


.icon-left {
   background-position: left;
}

.icon-center {
   background-position: center;
}

.icon-right {
   background-position: right;
}



.icon-xxlarge {
   background-size:     2.75em;
}

.icon-xlarge {
   background-size:     2.5em;
}

.icon-large {
   background-size:     2em;
}

.icon-medium {
   background-size:     1.75em;
}

.icon-small {
   background-size:     1.5em;
}

.icon-xsmall {
   background-size:     1.25em;
}

.icon-xxsmall {
   background-size:     1em;
}

.icon-xxxsmall {
   background-size:     0.75em;
}

.icon-xxxxsmall {
   background-size:     0.5em;
}



.icon-window-close {
   background-image:    url("../img/icons/Gnome-window-close-giver.svg");
   background-repeat:   no-repeat;
   background-size:     75%;
   background-position: 0 .5em;
   width:               1.5em;
   height:              1.5em;
}

.icon-loading {
   background-image:    url("../img/icons/content-loading-symbolic.svg");
   background-repeat:   no-repeat;
}



.icon-attachment {
   background-image:    url("../img/icons/Business_Office_circle_attach_attachment_file_download-512-edit1.png");
   background-repeat:   no-repeat;
}

.icon-file {
   background-image:    url("../img/emoji/fb/1.0/128/6-objects/079-1f4dc.png");
   background-repeat:   no-repeat;
}

.icon-image {
   background-image:    url("../img/emoji/fb/1.0/128/5-travel-and-places/059-1f304.png");
   background-repeat:   no-repeat;
}

.icon-audio {
   background-image:    url("../img/icons/audio_cassette_PNG16090.png");
   background-repeat:   no-repeat;
}

.icon-video {
   background-image:    url("../img/emoji/fb/1.0/128/6-objects/010-1f4f9.png");
   background-repeat:   no-repeat;
}

.icon-emojis {
   background-image:    url("../img/emoji/fb/1.0/128/1-smileys-and-people/025-1f636.png");
   background-repeat:   no-repeat;
}

.icon-send-msg {
   background-image:    url("../img/icons/send-to-symbolic.svg");
   background-repeat:   no-repeat;
}

.icon-logout {
   background-image:    url("../img/icons/Antu_system-shutdown.svg");
   background-repeat:   no-repeat;
}

.icon-notifications {
   background-image:    url("../img/icons/emblem-important.svg");
   background-repeat:   no-repeat;
}

.icon-notification {
   background-image:    url("../img/icons/emblem-important.svg");
   background-repeat:   no-repeat;
}

.icon-conversations {
   background-image:    url("../img/emoji/fb/1.0/128/7-symbols/207-1f4ac.png");
   background-repeat:   no-repeat;
}

.icon-search {
   background-image:    url("../img/emoji/fb/1.0/128/6-objects/117-1f50d.png");
   background-repeat:   no-repeat;
}

.icon-go-to-date {
   background-image:    url("../img/emoji/fb/1.0/128/6-objects/087-1f4c6.png");
   background-repeat:   no-repeat;
}

.icon-stats {
   background-image:    url("../img/emoji/fb/1.0/128/6-objects/083-1f4c8.png");
   background-repeat:   no-repeat;
}

.icon-settings {
   background-image:    url("../img/emoji/fb/1.0/128/6-objects/034-1f527.png");
   background-repeat:   no-repeat;
}

.icon-install {
   background-image:    url("../img/icons/system-run.png");
   background-repeat:   no-repeat;
}

.icon-refresh {
   background-image:    url("../img/emoji/fb/1.0/128/7-symbols/073-1f300.png");
   background-repeat:   no-repeat;
}

.icon-debug {
   background-image:    url("../img/emoji/fb/1.0/128/2-animals-and-nature/027-1f41d.png");
   background-repeat:   no-repeat;
}

.icon-positive {
   background-image:    url("../img/emoji/fb/1.0/128/1-smileys-and-people/058-1f4a9.png");
   background-repeat:   no-repeat;
}

.icon-help {
   background-image:    url("../img/emoji/fb/1.0/128/1-smileys-and-people/053-1f635.png");
   background-repeat:   no-repeat;
}

.icon-about {
   background-image:    url("../img/G16.png");
   background-repeat:   no-repeat;
}

.icon-logout {
   background-image:    url("../img/emoji/fb/1.0/128/1-smileys-and-people/119-1f3c3_1f3fb.png");
   background-repeat:   no-repeat;
}

.icon-exit {
   background-image:    url("../img/emoji/fb/1.0/128/7-symbols/051-1f51e.png");
   background-repeat:   no-repeat;
}



.icon-info {
   background-image:    url("../img/emoji/fb/1.0/128/7-symbols/056-2754.png");
   background-repeat:   no-repeat;
}



.icon-ok {
   background-image:    url("../img/icons/Antu_games-endturn-giver2.svg");
   background-repeat:   no-repeat;
}

.icon-cancel {
   background-image:    url("../img/icons/Antu_dialog-cancel-giver.svg");
   background-repeat:   no-repeat;
}

.icon-close {
//   background-image:    url("../img/icons/Gnome-window-close-giver.svg");
   background-image:    url("../img/emoji/fb/1.0/128/7-symbols/043-274c.png");
   background-repeat:   no-repeat;
}

.icon-save {
   background-image:    url("../img/icons/document-save-as.svg");
   background-repeat:   no-repeat;
}

.icon-delete {
   background-image:    url("../img/icons/Antu_emblem-unavailable-giver.svg");
   background-repeat:   no-repeat;
}



.icon-cnv-emoji {
   background-image:    url("../img/emoji/fb/1.0/128/1-smileys-and-people/160-1f48b.png");
   background-repeat:   no-repeat;
}

.icon-error {
   background-image:    url("../img/icons/process-stop.svg");
   background-repeat:   no-repeat;
}



.icon-status-src-sending {
   background-image:    url("../img/icons/send-to-symbolic.svg");
   background-repeat:   no-repeat;
}

.icon-status-src-received {
   background-image:    url("../img/icons/object-select-symbolic.svg");
   background-repeat:   no-repeat;
}

.icon-status-src-unread {
//   background-image:    url("../img/icons/content-loading-symbolic.svg");
   background-image:    url("../img/icons/bbm-delivered.png");
   background-repeat:   no-repeat;
}

.icon-status-src-read {
//   background-image:    url("../img/icons/avatar-default-symbolic.svg");
   background-image:    url("../img/icons/bbm-read.png");
   background-repeat:   no-repeat;
}

// Messages from other users are only ever unread or read:

.icon-status-dst-unread {
   background-image:    url("../img/icons/content-loading-symbolic-unread.svg");
   background-repeat:   no-repeat;
}

.icon-status-dst-read {
   background-image:    url("../img/icons/content-loading-symbolic-read.svg");
   background-repeat:   no-repeat;
}



