   <!-- HEADER -->

   <div id="header">

      <!--  HAMBURGER BUTTON  -->

      <div id="hamburger_button" class="hamburger_button link"></div>

      <div id="titlebar">
         <div id="titlebar_container" class="flex flex-align-center hvpad-medium">

            <!--  AVATAR  -->

            <div id="avatar_container" class="flex-fixed hpad-medium link">
               <div id="avatar" class="button-large icon-large"></div>
            </div>

            <!--  TITLE + SUBTITLE  -->

            <div class="flex-expand hpad-medium truncate ellipsis">
               <div id="title"    class="inline h1"></div><br>
               <div id="subtitle" class="inline st1 bold"></div>
            </div>

            <!--  MEDIA PLAYER  -->

            <!--div class="flex-fixed hpad-medium" id="sound_player">
               <button id="play_pause">&gt;</button>
               <audio id="media_player" src="audio/beautifulplace.mp3" loop %>
            </div-->

         </div>
      </div>

      <div id="titlebar_min" class="align-center hpad vpad-border st1 bold"></div>

      <div id="toolbar" class="border-top hvpad-medium hidden">

         <div class="flex flex-align-center link-cursor">
            <div class="flex-fixed hvpad-medium">
               <div id="toolbar_button_conversations" class="button-xxlarge icon-xxlarge icon-notifications"></div>
            </div>
            <div class="flex-expand hvpad-medium truncate ellipsis">
               You have been invited to "..."
            </div>
         </div>
         <div class="flex flex-align-center link-cursor">
            <!--div id="toolbar_button_conversation_settings" class="inline-block float-left button-xxlarge icon-xxlarge icon-settings link"></div-->
            <div class="flex-fixed hvpad-medium">
               <div id="toolbar_button_conversations" class="button-xxlarge icon-xxlarge icon-conversations"></div>
            </div>
            <div class="flex-expand hvpad-medium truncate ellipsis">
               Super duper nuts and crazy
            </div>
         </div>

      </div>

      <div id="previewbar" class="hpad vpad-border hidden"></div>

   </div>
