   <!-- LIGHTBOX -->

   <div id="lightbox" class="popup-bg popup-shaded-dark" tabindex="-1">
      <div id="lightbox_toolbar" class="fixed-pos top right hvpad">
         <!--a id="lightbox_open_link" href="" download="" target="_blank"><div id="lightbox_open_button" class="inline-block hvpad button-large icon-small icon-center icon-send-msg"></div></a-->
         <div id="lightbox_info_button" class="inline-block hvpad button-xxlarge icon-large icon-center icon-info link"></div>
         <div id="lightbox_close_button" class="inline-block hvpad button-xxlarge icon-large icon-center icon-close link"></div>
      </div>
      <div id="lightbox_info" class="hidden fixed-pos bottom left hvpad st1"></div>
      <div id="lightbox_content" class="expand hvpad scroll-auto align-center no-wrap">
         <span class="inline-block expand-y valign-middle"></span><img id="lightbox_image" class="inline-block valign-middle">
      </div>
   </div>
