   <!--  HAMBURGER MENU  -->

   <div id="hamburger_menu" class="popup-bg" tabindex="-1">
      <div id="hamburger_menu_container">
         <div id="hamburger_menu_content" class="popup-content hvpad">

            <p id="hamburger_menu_username" class="pad-bottom st2 italic cursor-default"></p>

            <!--div id="hamburger_menu_notifications" class="link hamburger-menu-item" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-notifications"></div><span class="pad-left valign-middle">Notifications</span>
            </div-->
            <div id="hamburger_menu_conversations" class="link hamburger-menu-item divider" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-conversations"></div><span class="pad-left valign-middle">Conversations</span>
            </div>
            <div id="hamburger_menu_search" class="link hamburger-menu-item" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-search"></div><span class="pad-left valign-middle">Search</span>
            </div>
            <div id="hamburger_menu_go_to_date" class="link hamburger-menu-item" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-go-to-date"></div><span class="pad-left valign-middle">Go To Date</span>
            </div>
            <div id="hamburger_menu_images" class="link hamburger-menu-item divider" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-image"></div><span class="pad-left valign-middle">Media Browser</span>
            </div>
            <div id="hamburger_menu_stats" class="link hamburger-menu-item" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-stats"></div><span class="pad-left valign-middle">Stats</span>
            </div>
            <div id="hamburger_menu_settings" class="link hamburger-menu-item divider" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-settings"></div><span class="pad-left valign-middle">Settings</span>
            </div>
            <div id="hamburger_menu_install" class="hidden link hamburger-menu-item" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-install"></div><span class="pad-left valign-middle">Install</span>
            </div>
            <div id="hamburger_menu_refresh" class="link hamburger-menu-item" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-refresh"></div><span class="pad-left valign-middle">Refresh</span>
            </div>
            <div id="hamburger_menu_debug" class="link hamburger-menu-item divider" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-debug"></div><span class="pad-left valign-middle">Debug</span>
            </div>
            <div id="hamburger_menu_positive_message" class="link hamburger-menu-item hidden" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-positive"></div><span class="pad-left valign-middle">Positive Message</span>
            </div>
            <div id="hamburger_menu_help" class="link hamburger-menu-item" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-help"></div><span class="pad-left valign-middle">Help</span>
            </div>
            <div id="hamburger_menu_about" class="link hamburger-menu-item divider" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-about"></div><span class="pad-left valign-middle">Aboot</span>
            </div>
            <div id="hamburger_menu_logout" class="link hamburger-menu-item" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-logout"></div><span class="pad-left valign-middle">Logout</span>
            </div>
            <div id="hamburger_menu_delete" class="link hamburger-menu-item hidden" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-delete"></div><span class="pad-left valign-middle">Delete Account</span>
            </div>
            <div id="hamburger_menu_exit" class="link hamburger-menu-item" tabindex="0">
               <div class="inline-block valign-middle button-small icon-small icon-exit"></div><span class="pad-left valign-middle">Exit</span>
            </div>

            <!--p class="pad-top-medium st2 italic align-right">
               <img src="Black_Cat_Vector.svg"> with cats
            </p-->

         </div>
      </div>
   </div>
