      <!-- LOGIN DIALOG CONTENT -->

      <div id="app_login">
         <div id="app_login_content" class="hvpad cursor-default" tabindex="-1">
            <span id="login_message">Log in if you want, I don't care.</span><br>
            <br>
            <table>
               <tr><td class="pad-right-medium pad-bottom">Username</td><td class="pad-bottom"><input id="login_username"></td></tr>
               <tr><td class="pad-right-medium">Password</td><td><input id="login_password" type="password"></td></tr>
            </table>
         </div>
      </div>

      <!-- NOTIFICATIONS DIALOG CONTENT -->

      <div id="app_notifications">
         <div id="app_notifications_content" class="hvpad cursor-default" tabindex="-1">

            <div id="notification_list" class="">
               <div id="notification_420" class="notification flex vpad-medium">
                  <div class="button-small icon-small icon-notification"></div>
                  <div class="pad-left">Don't be silly.</div>
               </div>
               <div id="notification_666" class="notification flex vpad-medium">
                  <div class="inline-block button-small icon-small icon-notification"></div>
                  <div class="pad-left">Make sure you never change your password.</div>
               </div>
               <div id="notification_669" class="notification flex vpad-medium">
                  <div class="inline-block button-small icon-small icon-notification"></div>
                  <div class="pad-left">Om nom nom.</div>
               </div>
            </div>

         </div>
      </div>

      <!-- CONVERSATIONS DIALOG CONTENT -->

      <div id="app_conversations">
         <div id="app_conversations_content" class="cursor-default" tabindex="-1">

            <div id="conversations" class="hvpad" tabindex="0"></div>

            <div id="" class="border-thin-top border-thin-bottom hvpad">
               <label>New conversation <input id="new_conversation_name"></input></label> <button id="create_new_conversation">Create</button>
            </div>

         </div>
      </div>

      <!-- CONVERSATION SETTINGS DIALOG CONTENT -->

      <div id="app_conversation_settings">
         <div id="app_conversation_settings_content" class="cursor-default" tabindex="-1">

         </div>
      </div>

      <!-- SEARCH DIALOG CONTENT -->

      <div id="app_conversation_search">
         <div id="app_conversation_search_content" class="cursor-default" tabindex="-1">

            <div id="search_input" class="hvpad" tabindex="0">
               <label>Search text <input id="search_text_input"></input></label> <button id="search_button">Give'r</button>
            </div>

            <div id="search_results" class="border-thin-top border-thin-bottom hvpad">
               Nothing to show
            </div>

         </div>
      </div>

      <!-- GO TO DATE CONTENT -->

      <div id="app_conversation_go_to_date">
         <div id="app_conversation_go_to_date_content" class="cursor-default" tabindex="-1">

            <div id="date_results" class="hvpad">
               Nothing to show
            </div>

         </div>
      </div>

      <!-- MEDIA BROWSER CONTENT -->

      <div id="app_media_browser">
         <div id="app_media_browser_content" class="cursor-default" tabindex="-1">

            <div id="media_results" class="hvpad align-center">
               Nothing to show
            </div>

         </div>
      </div>

      <!-- WELCOME MESSAGE CONTENT -->

      <div id="welcome_message">
         <span id="open_hamburger_menu" class="link">Go to the hamburger</span> and open a conversation for maximum craziness.<br>
         <br>
         Or sit here and look at the Dumpster Grumpster:<br>
         <br>
         <img class="expand-x" src="img/kittenkittentongue.jpg"><br>
         <br>
         <br>
         <br>
      </div>

      <!-- ABOUT DIALOG CONTENT-->

      <div id="app_about">
         <div id="app_about_content" class="expand hvpad align-center cursor-default" tabindex="-1">
            <br>
            Super cute and a good boy!<br>
            <br>
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png"><br>
            <img class="kitten-kitten" src="img/kittenkitten.jpg"><br>
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png"><br>
            <br>
            And very very funny!<br>
            <br>
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png"><br>
            <img class="kitten-kitten" src="img/kittenkittentongue.jpg"><br>
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
            <img class="kitten-kitten-love" src="emoji/fb/1.0/128/1-smileys-and-people/015-1f60d.png">
         </div>
      </div>

      <!-- LOG CONTENT -->

      <div id="log_viewer_content" class="hvpad pre monospace"></div>
