      <!-- DIALOG BOX TEMPLATE -->

      <div id="" class="dialogbox popup-bg popup-shaded" tabindex="-1">
         <div class="dialogbox-content popup-content popup-centered">
            <div class="dialog-message"></div>
            <div class="dialog-buttons inline-block expand-x hvpad">
               <button id="ok_button"      class="dialog-button float-right">
                  <div class="button-small icon-small icon-center icon-ok"></div><span>OK</span>
               </button>
               <button id="cancel_button"  class="dialog-button float-left">
                  <div class="button-small icon-small icon-center icon-cancel"></div><span>Cancel</span>
               </button>
               <button id="close_button"   class="dialog-button float-right">
                  <div class="button-small icon-small icon-center icon-close"></div><span>Close</span>
               </button>
               <button id="save_button"    class="dialog-button float-right">
                  <div class="button-small icon-small icon-center icon-save"></div><span>Save</span>
               </button>
               <button id="delete_button"  class="dialog-button float-right">
                  <div class="button-small icon-small icon-center icon-delete"></div><span>Delete</span>
               </button>
            </div>
         </div>
      </div>

      <!-- CONVERSATION DIALOG TEMPLATES -->

      <div id="" class="cnv-item link-cursor" tabindex="0">
         <div class="cnv-item-name pad-top-medium link"></div>
         <div class="cnv-item-participants vpad-medium st2"></div>
      </div>

      <!-- SEARCH DIALOG TEMPLATES -->

      <div class="search-item link-cursor" tabindex="0">
         <div class="search-item-date pad-top-medium st2"></div>
         <div class="search-item-body vpad-medium"></div>
      </div>

      <!-- GO TO DATE DIALOG TEMPLATES -->

      <div class="date-item vpad-medium link" tabindex="0">
      </div>

      <!-- MEDIA BROWSER DIALOG TEMPLATES -->

      <div class="media-browser-item" tabindex="0">
         <div class="media-browser-item-thumbnail-container">
            <span class="inline-block expand-y valign-middle"></span><a href=""><img class="media-browser-item-thumbnail valign-middle" src=""></a>
         </div>
         <div class="media-browser-item-filename st2"></div>
         <div class="media-browser-item-message-link link st2">Go to message</div>
      </div>

      <!-- MESSAGE TEMPLATES -->

      <div id="msg_load_links_prev" class="msg-load-links">
         <span class="msg-load-link hpad link">Top</span><span class="hpad">Previous</span><span class="msg-load-link hpad link">50</span><span class="msg-load-link hpad link">100</span><span class="msg-load-link hpad link">500</span><span class="hpad">messages</span><span class="msg-load-link hpad link">Bottom</span>
      </div>

      <div id="msg_load_links_next" class="msg-load-links">
         <span class="msg-load-link hpad link">Top</span><span class="hpad">Next</span><span class="msg-load-link hpad link">50</span><span class="msg-load-link hpad link">100</span><span class="msg-load-link hpad link">500</span><span class="hpad">messages</span><span class="msg-load-link hpad link">Bottom</span>
      </div>

      <div class="date-header">
         <div class="date-month-year"></div>
         <div class="date-day"></div>
      </div>

      <div class="message-group"></div>

      <div class="msg-time"></div>

      <div id="" class="message" msg_created="" msg_status="">
         <div class="flex">
            <div class="msg-status flex-fixed icon-center icon-status-none link"></div>
            <div class="msg-content flex-expand">
               <div class="msg-info hidden">
                  <div class="msg-info-content flex st2 bold">
                     <div class="msg-summary flex-expand vpad-medium"></div>
                     <div class="msg-actions flex-fixed vpad-medium pad-right nowrap">
                        <span class="msg-edit pad-left link">Edit</span><span class="msg-show pad-left link">Show</span><span class="msg-hide pad-left link">Hide</span><span class="msg-delete pad-left link">Delete</span>
                     </div>
                  </div>
               </div>
               <div class="msg-body pad-right pre-break-word"></div>
            </div>
         </div>
      </div>

      <div class="media-container rel-pos no-wrap align-center">
         <div class="media-wrapper">
            <div class="media-placeholder"></div>
            <div class="media-close-button hidden"><span class="link">close</span></div>
         </div>
         <div class="media-item-name pre-break-word link"></div>
      </div>

      <div class="youtube-wrapper">
         <!--iframe class="youtube-player" src="" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->
         <iframe class="youtube-player" src="" sandbox="allow-same-origin allow-scripts" allowfullscreen></iframe>
      </div>

      <iframe class="instagram-post" src="" sandbox="allow-same-origin allow-scripts"></iframe>

      <div class="msg-hidden dim50">Message hidden</div>
